<h1>Editing Post Ingredient</h1>

<%= render 'form', post_ingredient: @post_ingredient %>

<%= link_to 'Show', [:admin, @post, @post_ingredient] %> |
<%= link_to 'Back', admin_post_post_ingredients_path(@post) %>
