.admin_header {

  margin-left: 0px;
  margin-top: 48px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .admin_essen_logo {
    width: 104px;
    margin-left: 52px;
  }
  .admin_btn {

    font-family: "Inter" ;
    font-weight: 400;
    text-decoration: none;

    padding: 20px 30px;
    margin-top: 0px;
    margin-right: 48px;

    border-radius: 300px;

    color: var(--main-black);
    background: rgba(0,0,0, 0.05) !important;
  }
}

.admin_navbar{
  h1 {
    font-family: "Inter";
    font-size: 58px;
    font-weight: 400;
    letter-spacing: -0.07em;

    margin-top: 72px;
    margin-left: 48px;
  }
  .admin_links-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;

    margin-top: 48px;

    .admin_links,
    p
    {
      font-family: "Inter";
      font-size: 24px;
      text-decoration: none;

      margin-left: 34px;
      margin-top: 16px;
      padding: 8px 16px;


      font-weight: 400;
      letter-spacing: -0.05em;
      color: var(--main-black);
    }

    p {
      background: rgba(0,0,0, 0.05) !important;
      border-radius: 300px;
    }

    .admin_links:hover {
      padding: 8px 16px;
      background: rgba(0,0,0, 0.05) !important;
      border-radius: 300px;
    }
  }
}




.admin_posts_table-box {
  // height: 50vh;
  // overflow: auto;
  margin-top: -206px;

  .admin_posts_table {


    margin-left: 20vw;
    margin-right: 48px;

    thead,
    tbody {
      display: block;
      font-family: "Inter";
      font-size: 20px;
      letter-spacing: -0.04em;
    }

    thead {
      padding: 12px;
      background: rgba(0,0,0, 0.05) !important;

      border-radius: 6px;
    }
    tbody {
      overflow: auto;
     height: 600px;
     width: 1386px;

     border-spacing: 20px 3px;

       tr {
         margin-left: 20px;
       }
    }

    td {

      // text-align: left;
      vertical-align: middle;
      width: 150px;
      padding: 41px;

      .table_btns {
        width: 300px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        a {
          margin-top: 10px;
          text-decoration: none;
          color: black;
          font-weight: 400;
        }

        a:last-child{
          margin-top: 30px;
          color: #ff6242;
        }

        a:hover {
          opacity: 40%;
        }

      }
    }

    .table-img {
      width: 200px;
    }
  }
}
























//
