

  .main-card-container-flex {


    .main-card-container {


      .card-name {
        font-size: 18px;
        letter-spacing: -0.01em;
        text-transform: none !important;
        line-height: 22px;
        padding: 15px 15px 0 15px;
      }
    }
  }

.recipe-container {
  padding: 0 15px;


  .recipe-information {
    .recipe-information-div {
      display: flex;
    }
  }

  .recipe-title {
    font-family: Inter;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 36px;
    padding: 15px 0;
    margin-right: 10px;
  }

  .bookmark-icon {
    width: 30px;
  }

  .recipe-title-two {
    font-family: Inter;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.05em;
  }

  .recipe-title-three {
    font-family: Inter;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    padding-top: 45px;
    letter-spacing: -0.05em;
  }

  .m-text-icon-recipe {
    display: flex;
    .m-text-title-recipe {
      margin-left: 5px;
    }
  }

  .icon-text-block {
    margin-right: 15px;
  }

  .recipe-image {
    width: 100%;
  }

  .description-body-recipe {
    font-family: Inter;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }

  .author-block {
    margin-top: 35px;
    .author-links-container {
      display: flex;
    }
    .a-link-1, .a-link-2 {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      margin-right: 10px;
    }
    .a-link-2 {
      color: #6C6BCF;
    }
  }
  .ingredients-block {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 20px;
    .ingredients-title-block {
      padding: 25px 15px 5px;
      .ingredient-title {
        text-align: center;
        font-family: Inter;
        font-size: 16px;
      }
      .signs-block {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        .icon-plus{
          width: 30px;
        }
        .icon-minus {
          margin-right: 16px;
        }
        .number-rec {
          font-size: 20px;
          padding-top: 2%;
          margin-right: 15px;
        }
      }
    }
  }

  .ingeredients-list-block {
    display: flex;
    align-items: flex-start;
    padding: 8px 0;
    justify-content: flex-start;

    .ingeredient-one, .ingeredient-two{
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 36px;
    }
    .ingeredient-one {
      margin-right: 18px;
      line-height: 24px;
      max-width: 200px;
      width: 100%;
    }

    .ingeredients-list-arrow {
      margin-right: 10px;
      background: #ECEBFF;
      padding: 10px;
      border-radius: 40px;
    }

    .ingeredient-with-list {
      width: 188px;
      color: #6C6BCF;
      font-family: 'Inter';
      font-size: 19px;
      font-weight: 500;
      border: none;
      background: transparent;
      .ingredient-options {
        font-size: 16px;
      }
    }
  }

  .text-caption-block {
    padding: 45px 0 10px;
  }

  .recipe-description-block {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
  }

  .recipe-image-block {
    width: 100%;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .like-button-block {
    display: flex;
    justify-content: center;
    padding: 55px;
    background: #AD99E5;
    border-radius: 70px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0;
  }

  .icon-recipe-container-block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .icon-recipe {
      display: flex;
    }
    .icon-image-recipe {
      margin-left: 10px;
      font-family: 'Inter';
      font-size: 12px;
      font-weight: 500;
      align-self: center;
    }
  }

  .query-link {
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: rgba(108, 107, 207, 0.5);
    ;
  }
}




@media (min-width: 1024px) {


  .main-card-container-flex {
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column-gap: 12px;
     grid-row-gap: 12px;
     margin-top: 20px;

    .main-card-container {
      position: relative;
      width: 332px;
      height: 370px;

      .favoriteIcon {
        width: 24px;
        height: 24px;
        top: 20px;
        right: 16px;
      }

      .m-icon-and-text {
        width: auto;
        display: flex;
      }

      .m-text-title {
        font-size: 12px;
        width: 100%;
        padding-left: 4px;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
      }

      .m-sort-title {
        padding: 10px 0;
      }

      .m-card-information {
        display: flex;
        padding: 16px;
        position: absolute;
        bottom: 0;
      }

      .card-name {
        position: absolute;
        bottom: 42px;


        font-size: 16px;
        letter-spacing: -0.02em;
        text-transform: none;
        line-height: 22px;
      }
    }
  }


  .recipe-container {
    width: 100%;
    position: relative;


    .recipe-image {
      width: 25vw;
      position: absolute;
      top: 30px;
    }


   .description-body-recipe {
     margin-left: 25vw;
     padding-top: 16px;
     font-size: 14px;
     line-height: 22px;
     font-weight: 400;
    }


    .recipe-information {
      margin-left: 25vw;

      .recipe-information-div {
        display: flex;
      }

      .main-title {
        letter-spacing: -0.05em;
        font-size: 48px;
        line-height: 48px;
        padding-bottom: 20px;
      }
    }

    .author-block {
      margin-left: 25vw;

      .a-link-1,
      .a-link-2 {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .ingredients-block {
      position: absolute;
      width: 23%;
      top: 25vw;

      .ingredients-title-block {
        .signs-block {
          .number-rec {
            font-size: 20px;
            padding-top: 1%;
          }
        }
      }
    }

    .recipe-title {
      font-size: 24px;
    }


    .recipe-title-three {
      letter-spacing: -0.05em;
    }

    .text-caption-block {
      margin-left: 25vw;

      .recipe-title-two > a {
        letter-spacing: -0.05em;
      }
    }

    .recipe-description-block {
      margin-left: 25vw;
      font-size: 18px;
      text-transform: none;
      line-height: 30px;
      font-weight: 400;
    }

    .like-button-block {
      padding: 105px;
      border-radius: 300px;
    }

    .like-button-block:hover {
      background: #6C6BCF;
    }

    .icon-recipe-container-block {
      width: 50%;
      transform: translateX(50%);

      .icon-recipe {
        align-items: center;
      }
    }


  }
}
